/* standard markup */
a:link 						{color: #333;	text-decoration:none;}
a:visited 					{color: #333;	text-decoration:none;}
a:hover 					{color: #660000; 	text-decoration:underline;}
a:active 					{color: #333;	text-decoration:none;}
a:focus 					{color: #333;	text-decoration:underline;}

h6 							{color: #665; 	font-size:9pt;	font-weight:normal;}
h5 							{color: #665; 	font-size:9pt;	font-weight:normal;}
h4 							{color: #665; 	font-size:9pt;	font-weight:normal;}
h3 							{color: #665; 	font-size:9pt;	font-weight:normal;}
h2 							{color: #665; 	font-size:9pt;	font-weight:normal;}
h1 							{color: #665; 	font-size:11pt;	font-weight:bold;}

td							{color: #665;	font-size:9pt; 	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;}
textarea					{color: #665;	font-size:9pt; 	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;}
table						{color: #665;	font-size:9pt; 	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;}
p							{color: #665;	font-size:9pt; 	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;}
body						{color: #665;	font-size:9pt; 	font-family: Trebuchet MS, Arial, Helvetica, sans-serif;}

/* stylized text logo */
.text_logo					{color:#665; 	font-size:14pt; font-style:oblique; }

/* page title */
#page_title					{color:#665; 	font-size:14pt; font-style:oblique; }
#page_title	h1				{color:#665; 	font-size:14pt; font-style:oblique; }

/* icons */	
#icons						{color:#DFDFDF;		font-size:8pt;font-weight:bold;}
		#icons a:link		{color:#DFDFDF;} 
		#icons a:visited	{color:#DFDFDF;} 
		#icons a:hover		{color:#ffffff; 	text-decoration:none;} 
		#icons a:active		{color:#DFDFDF;}
		
/* bottom links */
#bottom_links 				{color:#665;		font-size:8pt;}
 #bottom_links a:link		{color:#665;} 
 #bottom_links a:visited	{color:#665;} 
 #bottom_links a:hover		{color:#660000; 	text-decoration:none;} 
 #bottom_links a:active		{color:#665;}
 
/* site info and copyright */
#site_info					{color:#BDCBE8; 	font-size:8pt;}

/* content in body1 */
.body1						{color:#665; padding-left:5px; padding-right: 10px; padding-top:5px; padding-bottom:5px}
 .paragraph_heading			{color:#665; 	font-size:11pt; font-weight:bold;}
 .body1 p					{color:#665; 	font-size:9pt;}
 .body1 h1					{color:#330000; 	font-size:14pt;}
 .body1 h2					{color:#660000; 	font-size:11pt; font-weight:bold;}
 .body1_link				{color:#330000; 	font-size:9pt;}
 .redfont 					{color:#660000; 	font-size:9pt;	font-weight:bold;}
 .body_heading h1			{color:#330000;		font-size:12pt; font-weight:bold; 	font-style:italic;}
 .body_heading h2			{color:#660000;	font-size:10pt; font-weight:normal; font-style:italic; padding-bottom:10px; padding-top:10px;}
 .body_heading h3			{color:maroon;	font-size:10pt; font-weight:bold;	font-style:italic; padding-bottom:0px; padding-top:10px;}
 .body_heading h4			{color:red;	font-size:8pt; font-weight:normal;	font-style:italic; padding-bottom:0px; padding-top:0px;}
  
/* content in body2 left column*/
.body2						{color:#DFDFDF; 	font-size:8pt;}
 .body2 p					{color:#DFDFDF; 	font-size:8pt;}
 .body2 h1					{color:#DFDFDF;		font-size:12pt; font-weight:bold;}
 .body2 h2					{color:#DFDFDF;		font-size:9pt; 	font-weight:bold;}
 .body2_link				{color:#DFDFDF;		font-size:9pt;}
 
 /* headings */
 .body_heading h1			{color:#660000;		font-size:12pt; font-weight:bold; 	font-style:italic;}
 .menu_heading				{color:#660000;		font-size:12pt; font-weight:bold; 	font-style:italic; margin: 0px 0px 0px 0px; padding: 0px 0px 0px 30px;}

 .news						{color:#BDCBE8; 	text-align:left;}
 .news p					{color:#000; 		margin:0px 0px 0px 0px;}
 .news h1					{color:#829AC8; 	font-size:10pt; font-weight:bold; font-variant:small-caps; text-align:center;}
 .news h2					{color:#666666; 	font-size:10pt; font-weight:bold; font-variant:small-caps; text-align:center;}
 .news h3					{color:#666666; 	font-size:10pt; font-weight:bold; font-variant:small-caps; text-align:center;}
 .news a:link				{color:#BDCBE8;} 
 .news a:visited			{color:#BDCBE8;} 
 .news a:hover				{color:#ffffff; 	text-decoration:none;} 
 .news a:active				{color:#BDCBE8;}
 .news_heading				{color:#DFDFDF; 	font-size:12pt; font-weight:bold; font-variant:small-caps; text-align:left; padding:8px 0px 7px 5px;}
 .news_content				{color:#000000;}

 .info						{font-size:8pt; 	font-weight:normal;}
 .info h1					{text-indent:15px; 	font-size:9pt; font-weight:bold; color: white;}
 .info p 					{font-size:8pt; 	font-weight:normal; color:black;}
 
/* vertical menu bar */

.Vertical_Menu li a 		{color:#DFDFDF;		font-size:9pt;font-weight:bold; 	text-decoration:none;}	
.Vertical_Menu li a:visited {color:#DFDFDF;		font-size:9pt;font-weight:bold;}								
.Vertical_Menu li a:link 	{color:#DFDFDF;		font-size:9pt;font-weight:bold;}									
.Vertical_Menu li a:hover 	{color:#660000;		font-size:9pt;font-weight:bold;}

/* drop menu main button */

.chromestyle ul				{color: #000000; font-size:8pt; 	font-weight:bold; text-align:center;}
.chromestyle ul li a        {}
.chromestyle ul li a:hover	{color: #ffffff; text-decoration: none;}

/* drop menu sub menu button */

.dropmenudiv a				{color: #DFDFDF; text-indent: 15px; font-size:8pt; font-weight:bold; font-variant:small-caps; text-align:left;}
.dropmenudiv a:hover		{color: #660000; font-size:8pt; font-weight:bold; font-variant:small-caps; text-align:left; text-decoration:none;}
.dropmenudiv a:visited		{color: #DFDFDF; font-size:8pt; font-weight:bold; font-variant:small-caps; text-align:left; text-decoration:none;}
.dropmenudiv a:active		{color: #DFDFDF; font-size:8pt; font-weight:bold; font-variant:small-caps; text-align:left; text-decoration:none;}
