<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="HHSIB" connectionString="Data Source=LAPTOP-JV26AM6B\SQLSERVER2016;Initial Catalog=HHSDatabase;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="HHSDatabaseConnectionString" connectionString="Data Source=ibm-2a0e9ea509b;Initial Catalog=HHSIB-Prod;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <!--connectionStrings>
    <add name="HHSDatabaseConnectionString" connectionString=" Server=hhsib.db.4357196.hostedresource.com; Database=hhsib; User ID=hhsib; Password=goTerrier1; Trusted_Connection=False" providerName="System.Data.SqlClient" />
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString=" Server=hhsib.db.4357196.hostedresource.com; Database=hhsib; User ID=hhsib; Password=goTerrier1; Trusted_Connection=False" providerName="System.Data.SqlClient" />
  </connectionStrings-->
  <!--connectionStrings>
     <add name="HHSDatabaseConnectionString" 
          connectionString="Data Source=hhsib.db.4357196.hostedresource.com; Initial Catalog=hhsib; User ID=hhsib; Password='goTerrier1';"
         providerName="System.Data.SqlClient" />
         Data Source=hhsib.db.4357196.hostedresource.com; Initial Catalog=hhsib; User ID=hhsib; Password='your password';
 </connectionStrings-->
  <appSettings>
    <add key="HHSIB-Website" value="hhsibWebsite"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <customErrors defaultRedirect="~/ErrorPage.htm"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <!--<compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        -->
    <!--add assembly="System.Web.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/-->
    <!--
        -->
    <!--add assembly="System.Data.Entity, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/-->
    <!--
        <add assembly="System.Web.Extensions.Design, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies>
    </compilation>-->
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--authentication mode="Forms" /-->
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>